<h1>New Points </h1>

<%= form_for([@customer, @point]) do |f| %>
  <%= f.label :point_total %>
  <%= f.text_field :point_total %>
  <%= f.submit %>
<% end %>

<%= link_to "Back", customer_path(@customer) %>