<h1>New Points</h1>
<div class="row">
	<h2>Add Points</h2>
	<%= form_for([@customer, @point]) do |f| %>
		<%= f.label :point_total %>
		<%= f.number_field :point_total%>
		<%= f.submit "Add points", data: {confirm: "Really want to add points?"}, class: "btn btn-primary btn-lg" %>
	<% end %>
</div>
<div class="row">
	<%= link_to "Back", customer_path(@customer) %>
</div>