<h1>Index Page</h1>

<!-- put link_to for finding an existing customer -->

<%= form_for(Customer.new) do |f| %>
<%= f.label :phone, "Your Phone Number:" %><br>
<%= f.text_field :phone %>
<%= f.submit "Search" %>
<% end %>

<%= link_to "New Customer", new_customer_path %>