<h1>Loyalty Home Page</h1>

<!-- put link_to for finding an existing customer -->

<%= form_tag("search", method: "get") do %>
<%= label :phone, "Your Phone Number:" %><br>
<%= text_field_tag :phone %>
<%= submit_tag "Search" %>
<% end %>

<%= link_to "New Customer", new_customer_path %>