<h1>Show Customer</h1>

Points:
<% @points.each do |p| %>
  <%= p.point_total %>
<% end %>
<br>
<button><%= link_to "Add Points", new_customer_point_path(@customer.id, @points) %></button>
<button><%= link_to "Redeem Points", new_customer_point_path(@customer.id) %></button>

<ul>
  <li>First Name: <%= @customer.first_name %></li>
  <li>Last Name: <%= @customer.last_name %></li>
  <li>Phone: <%= @customer.phone %></li>
  <li>Email: <%= @customer.email %></li>
  <li>Zip-Code: <%= @customer.zip_code %></li>
  <li>Birthday: <%= @customer.birthday %></li>
</ul>


<%= link_to "Back", customers_path %>